* {
  text-decoration: none;
  font-family: Raleway, sans-serif;
}

a {
  color: #b5b5b5;
}
a:visited {
  color: inherit;
}

body {
  background-color: #030303;
  color: #b5b5b5;
  overflow-x: hidden;
  overflow-y: overlay;
  padding-bottom: 3.5em;
}

#content {
  visibility: hidden;
}

button,
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/*Loading Animation for page load*/
#loader {
  width: 15.625em;
  height: 3.125em;
  line-height: 3.125em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #cc0000;
  letter-spacing: 0.2em;
}

#loader::before,
#loader::after {
  content: "";
  display: block;
  width: 0.9375em;
  height: 0.9375em;
  background: #cc0000;
  position: absolute;
  animation: load 0.7s infinite alternate ease-in-out;
}

#loader::before {
  top: 0;
}
#loader::after {
  bottom: 0;
}

h2,
h3 {
  color: #c00;
}

.img_pos {
  text-align: center;
}

.Sign-up:link,
.Sign-up:visited {
  color: #c00;
}

.Sign-up:hover {
  color: #f00;
}

input {
  outline: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  background-color: #2c3134;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
}

.sidenav a {
  padding: 0.5em 0.5em 0.5em 2em;
  text-decoration: none;
  font-size: 1.37em;
  color: #c9c9c9;
  display: block;
  transition: 0.3s;
  margin-top: 1em;
  box-sizing: border-box;
  border-bottom: 0.0625em solid black;
}

.nav-element:hover {
  padding-left: 3.125em;
  cursor: pointer;
}

.sidenav a:hover {
  color: #ffffff;
}

.sidenav .closebtn {
  cursor: pointer;
  position: absolute;
  top: 0.12em;
  right: 0.5em;
  font-size: 2.25em;
  margin-left: 3.125em;
}

.user-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1002;
  top: 0;
  right: 0;
  background-color: #2c3134;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
}

.user-nav a {
  padding: 0.5em 0.5em 0.5em 2em;
  text-decoration: none;
  font-size: 1.37em;
  color: #c9c9c9;
  display: block;
  transition: 0.3s;
  margin-top: 1em;
  box-sizing: border-box;
  border-bottom: 0.0625em solid black;
}

.user-nav a:hover {
  color: #ffffff;
}

.user-nav .closeuserbtn {
  cursor: pointer;
  position: absolute;
  top: 0.12em;
  left: 0.5em;
  font-size: 2.25em;
  margin-right: 3.125em;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

#sidenav-icon {
  font-size: 1.875em;
  cursor: pointer;
  align-self: flex-start;
}

#add-post-icon,
#profile-icon {
  cursor: pointer;
  align-self: center;
}

#all-filters,
#all-analytics {
  display: flex;
  margin-top: 7em;
  gap: 0.75em;
  justify-content: center;
  flex-wrap: wrap;
}

#hot,
#recent,
#preferred-categories,
#filter,
#post-locations-filter,
#search,
#map-analytics,
#chart-analytics,
#general-info,
#posts-per-poll-type,
#posts-per-category {
  background-color: #1a1a1b;
  padding: 0.4em;
  border-radius: 1em;
  color: #f3f3f3;
  font-size: 1.6em;
  font-weight: bold;
  cursor: pointer;
}

.sidenav a i,
#hot i,
#recent i,
#preferred-categories i,
#filter i,
#search i,
#post-locations-filter i,
.user-nav a i,
#map-analytics i,
#chart-analytics i,
#general-info i,
#posts-per-poll-type i,
#posts-per-category i,
.category i,
.post-download-data i,
.post-event-location i,
.post-delete i,
.download-results-image i,
.download-results-pdf i {
  margin-right: 0.5em;
}

.fa-circle-user,
.fa-lock,
.fa-envelope,
.fa-house,
.fa-times,
.fa-arrow-right-from-bracket,
.fa-chart-simple,
.fa-info,
.fa-globe {
  color: #850000;
}

.fa-times {
  font-size: 1.5em;
}

.fa-bars,
.fa-plus {
  color: #979797;
}

.input-icons {
  position: relative;
}

.input-icons i {
  position: absolute;
  top: 0.8em;
  left: 0.125em;
}

#user-help,
#pass-help,
#password-help,
#email-help,
#passc-help {
  margin-top: 0.11em;
  color: #cc0000;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  width: 30em;
  height: fit-content;
  max-width: 98%;
  padding-top: 1.3em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background-color: #1a1a1b;
  color: black;
  animation-name: zoom;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: 0.7s;
  border: 0.01em solid #850000;
}

#reg-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5em;
  width: 30em;
  height: fit-content;
  max-width: 98%;
  padding-top: 1.3em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background-color: #1a1a1b;
  color: black;
  animation-name: zoom;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: 0.7s;
  border: 0.01em solid #850000;
}

.form-control {
  height: 1.85em;
  padding-top: 1.15em;
  border: none;
  border-bottom: 0.1em solid #850000;
  background-color: #1a1a1b;
  width: 14.7em;
  font-size: 1.3em;
  color: #f3f3f3;
}

.logged-form-control {
  height: 2.5em;
  padding-top: 1.15em;
  border: none;
  border-bottom: 0.1em solid #850000;
  background-color: #1a1a1b;
  font-weight: 900;
  width: 13.1em;
  font-size: 1.2em;
  color: #f3f3f3;
}

input.form-control,
input.logged-form-control {
  text-align: center;
}

.logged-form-control::-webkit-input-placeholder {
  font-size: 0.7em;
}

#username-change-form,
#password-change-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  width: 25em;
  height: fit-content;
  max-width: 98%;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background-color: #1a1a1b;
  color: black;
  box-shadow: 0em 0em 0.5em 0.3125em #cc0000;
}

#sum,
#username-change,
#password-change {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 6em;
  font-size: 1.4em;
  margin-top: 0.75em;
  background-image: linear-gradient(to right, #000, #c00);
  border: 0em solid #363636;
  color: #ccc;
  border-radius: 0.5em;
  cursor: pointer;
}

#username-change,
#password-change {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 5.5em;
  font-size: 1.2em;
}

#sum.animated,
#username-change.animated,
#password-change.animated {
  animation-name: logBtnOut;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  transition: color 0.4s;
}

#sum:hover,
#username-change:hover,
#password-change:hover {
  color: #c00;
  animation-name: logBtnIn;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

#next-step {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  background-color: #1a1a1b;
  text-align: center;
  border-radius: 0.5em;
  font-weight: 900;
  color: #cc0000;
  width: 6em;
  height: 3em;
  font-size: 1.1em;
}

.label-color {
  color: #ccc;
}

@keyframes load {
  0% {
    left: 0;
    height: 1.875em;
    width: 0.9375em;
  }
  50% {
    height: 0.5em;
    width: 2.5em;
  }
  100% {
    left: 14.6875em;
    height: 1.875em;
    width: 0.9375em;
  }
}

@keyframes logBtnIn {
  0% {
    background-image: linear-gradient(to right, #000, #c00);
  }
  5% {
    background-image: linear-gradient(to right, #000 5%, #c00);
  }
  10% {
    background-image: linear-gradient(to right, #000 10%, #c00);
  }
  15% {
    background-image: linear-gradient(to right, #000 15%, #c00);
  }
  20% {
    background-image: linear-gradient(to right, #000 20%, #c00);
  }
  25% {
    background-image: linear-gradient(to right, #000 25%, #c00);
  }
  30% {
    background-image: linear-gradient(to right, #000 30%, #c00);
  }
  35% {
    background-image: linear-gradient(to right, #000 35%, #c00);
  }
  40% {
    background-image: linear-gradient(to right, #000 40%, #c00);
  }
  45% {
    background-image: linear-gradient(to right, #000 45%, #c00);
  }
  50% {
    background-image: linear-gradient(to right, #000 50%, #c00);
  }
  55% {
    background-image: linear-gradient(to right, #000 55%, #c00);
  }
  60% {
    background-image: linear-gradient(to right, #000 60%, #c00);
  }
  65% {
    background-image: linear-gradient(to right, #000 65%, #c00);
  }
  70% {
    background-image: linear-gradient(to right, #000 70%, #c00);
  }
  75% {
    background-image: linear-gradient(to right, #000 75%, #c00);
  }
  80% {
    background-image: linear-gradient(to right, #000 80%, #c00);
  }
  85% {
    background-image: linear-gradient(to right, #000 85%, #c00);
  }
  90% {
    background-image: linear-gradient(to right, #000 90%, #c00);
  }
  95% {
    background-image: linear-gradient(to right, #000 95%, #c00);
  }
  100% {
    background-image: linear-gradient(to right, #000, #000);
  }
}

@keyframes logBtnOut {
  0% {
    background-image: linear-gradient(to right, #000, #000);
  }
  10% {
    background-image: linear-gradient(to right, #000 90%, #c00);
  }
  20% {
    background-image: linear-gradient(to right, #000 80%, #c00);
  }
  30% {
    background-image: linear-gradient(to right, #000 70%, #c00);
  }
  40% {
    background-image: linear-gradient(to right, #000 60%, #c00);
  }
  50% {
    background-image: linear-gradient(to right, #000 50%, #c00);
  }
  60% {
    background-image: linear-gradient(to right, #000 40%, #c00);
  }
  70% {
    background-image: linear-gradient(to right, #000 30%, #c00);
  }
  80% {
    background-image: linear-gradient(to right, #000 20%, #c00);
  }
  90% {
    background-image: linear-gradient(to right, #000 10%, #c00);
  }
  100% {
    background-image: linear-gradient(to right, #000, #c00);
  }
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  height: 3.125em;
  background-color: #1a1a1b;
  border-radius: 1em;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-resizer {
  background: transparent;
}

/*Placeholder color*/
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cccccc;
  opacity: 1; /* Firefox */
  text-align: center;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cccccc;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cccccc;
}

/*Makes placeholder transparent when user clicks to type values*/
input:focus::placeholder {
  color: transparent;
}

/*For other resolutions*/
@media (min-width: 576px) {
  :root {
    --size-divisor: 2;
  }
}
@media (min-width: 768px) {
  :root {
    --size-divisor: 1.5;
  }
}
@media (min-width: 992px) {
  :root {
    --size-divisor: 1;
  }
}
@media (min-width: 1200px) {
  :root {
    --size-divisor: 0.67;
  }
}

/*remove blue highlight*/
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus,
a:visited,
a:active {
  outline: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}

#poll-selection {
  display: none;
  margin-top: 11em;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.template-instructions-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

#first-question,
.time-limit,
.location-restriction,
#poll-choices-number-instruction,
#event-radius,
.poll-choices-instruction {
  max-width: 27em;
  color: #f3f3f3;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  background-color: #1a1a1b;
  border-radius: 1em;
  padding: 0.4em;
}

.poll-choices-instruction {
  font-size: 1.5em;
}

#poll-template-time-choice,
#poll-template-location-restriction {
  display: flex;
  margin-top: 11em;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

#time-limit-selector,
#radius-number {
  background: #1a1a1b;
  border-radius: 1em;
  color: white;
  text-align: center;
  font-size: 1.6em;
  width: 9.5em;
  border: 0.01em solid #363636;
}

#yes-time-limit,
#no-time-limit,
#yes-location-restriction,
#no-location-restriction {
  background-color: #1a1a1b;
  padding: 0.3em;
  border-radius: 1em;
  font-size: 1.6em;
  font-weight: bold;
  cursor: pointer;
  border: 0.1em solid #1a1a1b;
  width: 3em;
  color: #f3f3f3;
}

#time-choice {
  display: flex;
  margin-top: 11em;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

#yes-no,
#rating,
#approval,
#ranking {
  background-color: #1a1a1b;
  padding: 0.3em;
  border-radius: 1em;
  color: #f3f3f3;
  font-size: 1.6em;
  font-weight: bold;
  cursor: pointer;
  border: 0.1em solid #1a1a1b;
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade_out_show {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

#poll-question {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 11em;
}

#question-instruction {
  padding: 0.4em;
  color: #f3f3f3;
  font-size: 1.6em;
  font-weight: bold;
  background: #1a1a1b;
  border-radius: 1em;
  text-align: center;
  max-width: 23em;
}

#question {
  width: 27em;
  padding-bottom: 5em;
  color: #f3f3f3;
  font-size: 1.3em;
  font-weight: bold;
  background: #1a1a1b;
  border-radius: 0.7em;
  background-color: #1a1a1b;
  max-width: 98.5%;
  overflow: hidden;
  resize: none;
}

#question:focus {
  outline: none !important;
  border: 0.0625em solid #cc0000;
}

#warning-nothing-selected,
#warning-empty-text-area,
#warning-no-time-limit-choice,
#warning-no-time-limit,
#warning-no-location-restriction-choice,
#warning-no-location-selected,
#warning-radius-too-small,
#warning-no-category-selected,
#warning-time-filter-choice,
#warning-no-poll-choice-number-selected,
#warning-no-input-poll-choices,
#admin-warning-time-filter-choice {
  display: none;
  padding: 0.4em;
  color: #ab0000;
  font-size: 1.5em;
  font-weight: bold;
  flex-basis: 100%;
  text-align: center;
}

#posts-container {
  display: flex;
  flex-flow: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  max-width: 50em;
  margin: 2em auto 0;
  padding: 0 1em 0;
}

.post {
  display: flex;
  background-color: #1a1a1b;
  justify-content: space-between;
  height: fit-content;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 1em;
  padding: 0.65em 1em 1em 1em;
  width: 100%;
  flex-direction: column;
}

.post-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 0.8em;
}

.post-critic {
  display: flex;
  align-items: flex-end;
  column-gap: 0.5em;
}

.score {
  width: 2.5em;
  text-align: center;
}

.user-who-posted {
  display: flex;
  margin-bottom: 0.23em;
  font-size: 0.6em;
  align-items: center;
  flex-wrap: wrap;
}

.user-question-answers {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5em;
  word-break: break-word;
}

.post-user-name {
  margin-right: 0.25em;
}

.post-user-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.poll-timer-container {
  display: none;
  flex-direction: column-reverse;
  align-items: center;
}

.post-time,
.fa-bell {
  cursor: pointer;
}

.post-time-detailed,
.poll-remaining-time,
.parent_of_check_yes_no_details,
.yes_no_details,
.rating_details,
.approval_details,
.ranking_details {
  display: none;
}

.post-time:hover + .post-time-detailed {
  display: block;
  position: absolute;
  margin-bottom: 2em;
  background-color: #1a1a1b;
  border-radius: 1em;
  color: #f3f3f3;
  padding: 0.5em;
  margin-right: 0.21em;
  margin-left: 0.21em;
  border: 0.01em solid #363636;
  text-align: center;
}

.fa-clock:hover + .poll-remaining-time {
  display: block;
  position: absolute;
  margin-bottom: 2.5em;
  background-color: #1a1a1b;
  border-radius: 1em;
  color: #f3f3f3;
  padding: 0.5em;
  margin-right: 0.21em;
  border: 0.01em solid #363636;
  text-align: center;
}

.fa-bookmark {
  font-size: 2em;
  cursor: pointer;
}

.fa-question,
.fa-thumbs-up,
.fa-thumbs-down {
  font-size: 1.5em;
  cursor: pointer;
}

.fa-clock {
  display: none;
  font-size: 2em;
  cursor: pointer;
}

.fa-ellipsis {
  color: #00ffd0b8;
}

.post-question {
  height: fit-content;
  width: fit-content;
  flex-basis: 100%;
  color: #f3f3f3;
  margin-bottom: 0.1em;
}

.answer-yes,
.answer-no,
.vote {
  background-color: #007e7e;
  padding: 0.4em;
  border-radius: 1em;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  width: 3em;
  text-align: center;
  margin-top: 0.5em;
}

.vote {
  width: auto;
}

.answer-no {
  margin-right: 0.5em;
}

.show-results {
  background-color: #00a1ff80;
  padding: 0.4em;
  border-radius: 1em;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  margin-top: 0.5em;
}

.fa-chevron-up,
.fa-chevron-down {
  cursor: pointer;
}

.fa-circle-chevron-right {
  color: #1a1a1b;
  cursor: pointer;
}

.yes-no-results-container {
  display: flex;
  border-radius: 1em;
  flex-flow: column;
  gap: 1em;
}

.chartCard,
.approval-chart-card {
  margin-top: 1em;
  background-color: #2c3134;
  height: 20em;
  border-radius: 1em;
  padding-bottom: 2.5em;
  padding-left: 1em;
}

.approval-chart-card {
  width: 100%;
}

#notification-container,
#delete-notification-container {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 0.2em;
  margin: 0 auto;
  max-width: 30em;
  left: 0;
  right: 0;
  top: 35%;
}

#notification,
#delete-notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: #2c3134;
  padding: 1em;
  color: #f3f3f3;
  gap: 2em;
  border-radius: 1em;
  border: 0.01em solid #858585;
}

#notification-text,
#delete-notification-text {
  color: #f3f3f3;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  background: #1a1a1b;
  border-radius: 1em;
  padding: 0.4em;
}

#delete-notification-answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}

#notification-button,
#delete-yes,
#delete-no {
  background-color: #00ffd0;
  border-radius: 1em;
  font-weight: bold;
  color: #000000;
  font-size: 1.6em;
  padding: 0.4em;
}

#notification-button {
  padding: 0.4em 0.9em;
}

#delete-no {
  width: 3.7em;
  background: none;
  border: none;
}

#delete-yes,
#delete-no {
  width: 3.7em;
}

#preferred-categories-container {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 0.2em;
  margin: 0 auto;
  max-width: 27em;
  left: 0;
  right: 0;
  top: 10%;
}

#categories-container {
  display: flex;
  background: #2c3134;
  color: #000;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  border-radius: 1em;
  border: 0.01em solid #5e5e5e;
}

#category-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5em;
}

.category {
  background: #1a1a1b;
  border-radius: 1em;
  cursor: pointer;
  padding: 0.4em;
  color: #f3f3f3;
}

#category-button,
#filter-button,
#admin-filter-button,
.send-rating-button,
.send-approval-button,
.send-ranking-button {
  background-color: #00ffd0;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1.2em;
  color: #000000;
  padding: 0.4em 0.9em;
}

#filters-outside-container {
  display: flex;
  flex-flow: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  max-width: 50em;
  margin: 2em auto 0;
  margin-top: 1em;
  padding: 0 1.1em;
}

#filters-inside-container {
  display: flex;
  background: #1a1a1b;
  flex-direction: column;
  color: #f3f3f3;
  font-size: 1.4em;
  font-weight: bold;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  border-radius: 1em;
  width: 100%;
}

#time-filter,
#user-filter,
#admin-chart-time-filter-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 0.5em;
  background: #2c3134;
  border-radius: 1em;
  padding: 0.8em;
}

#poll-filters-containter,
#poll-status-filter-container {
  display: flex;
  flex-direction: column;
  background: #2c3134;
  border-radius: 1em;
  padding: 0.8em;
  gap: 0.5em;
  justify-content: center;
}

#poll-filters,
#poll-status-filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.filter-instruction {
  background: #5e5e5e;
  align-self: center;
  border-radius: 1em;
  padding: 0.4em;
  font-size: 1em;
  text-align: center;
}

.poll-filter,
.poll-status {
  background: #1a1a1b;
  align-self: center;
  border-radius: 1em;
  padding: 0.4em;
  font-size: 1em;
  border: 0.1em solid #1a1a1b;
}

#filter-button {
  align-self: center;
}

#warning-time-filter-choice,
#warning-admin-time-filter-choice,
#admin-warning-time-filter-choice {
  font-size: 1em;
}

#time-filter-selector,
#admin-time-filter-selector {
  background: #1a1a1b;
  border-radius: 1em;
  color: white;
  text-align: center;
  font-size: 1em;
  width: 100%;
  max-width: 18em;
  margin: auto;
  border: 0.01em solid #5e5e5e;
}

#user-filter-select,
.write-poll-choice {
  width: 100%;
  max-width: 14em;
  margin: auto;
  font-size: 1em;
  background: #1a1a1b;
  color: #f3f3f3;
  border-radius: 1em;
  text-align: center;
  border: 0.01em solid #5e5e5e;
}

#location-choice {
  display: flex;
  margin-top: 11em;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

#event-location-map,
#post-locations-map,
#admin-analytics-map,
#post-event-location-map {
  width: 100%;
  max-width: 70em;
  height: 40em;
  border-radius: 1em;
}

#post-locations-container,
#event-map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 14%;
}

.close-map {
  font-size: 3em;
  color: #cc0000;
  position: absolute;
  z-index: 401;
  bottom: 0em;
  left: 0.3em;
}

#radius-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

#analytics-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

#post-category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto 0;
  margin-top: 11em;
}

#poll-choices-number-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 2em auto 0;
  margin-top: 11em;
  gap: 1em;
}

#categories,
#poll-choices {
  color: #f3f3f3;
  font-size: 1.5em;
  text-align: center;
  background: #1a1a1b;
  border-radius: 0.3em;
  max-width: 14em;
  background: #2c3134;
  overflow-x: auto;
}

#poll-choices {
  font-size: 1.4em;
}

#search-box-container {
  display: flex;
  max-width: 50em;
  justify-content: center;
  margin: 1em auto 0;
  width: 100%;
  gap: 0.5em;
  align-items: center;
}

#search-box {
  width: 50em;
  color: #f3f3f3;
  font-size: 1.3em;
  font-weight: bold;
  background: #1a1a1b;
  border-radius: 1em;
  background-color: #1a1a1b;
  max-width: 98.5%;
  overflow: hidden;
  resize: none;
  padding: 0.2em;
  border: 0.01em solid #5e5e5e;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#radius-filter-container {
  display: flex;
  background: #2c3134;
  border-radius: 1em;
  padding: 0.8em;
  gap: 0.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#radius-filter-info {
  display: none;
  position: absolute;
  margin-bottom: 10em;
  background-color: #1a1a1b;
  border-radius: 1em;
  color: #f3f3f3;
  padding: 0.5em;
  margin-right: 0.21em;
  border: 0.01em solid #363636;
  font-size: 0.65em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00ffd0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00ffd0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#bell-notification-container {
  display: flex;
  position: fixed;
  justify-content: center;
  padding: 0.2em;
  z-index: 1001;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 2em;
  background-color: #1a1a1b;
  text-align: center;
  border-top: 0.01em solid #363636;
}

#bell-inner-container {
  position: absolute;
  font-size: 0.4em;
  color: #f3f3f3;
  bottom: 1.4em;
  z-index: 1001;
  background-color: #cc0000;
  padding: 0.15em;
  border-radius: 50%;
  border: 0.15em solid #f3f3f3;
  font-weight: normal;
  margin-left: 1em;
  width: 1em;
  height: 1em;
  justify-content: center;
}

#bell-notification-details {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  font-size: 0.55em;
  color: #f3f3f3;
  bottom: 3em;
  z-index: 1001;
  background-color: #1a1a1b;
  padding: 0.4em;
  border-radius: 1em;
  border: 0.01em solid #363636;
  font-weight: bold;
  max-width: 15.5em;
  gap: 0.3em;
  justify-content: center;
}

.bell-actions {
  display: block;
  background: #2c3134;
  align-self: center;
  border-radius: 1em;
  padding: 0.4em;
  font-size: 0.75em;
  cursor: pointer;
}

#admin-analytics-chart-filters-container {
  display: flex;
  flex-flow: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  max-width: 50em;
  margin: 2em auto 0;
  margin-top: 2em;
  padding: 0 1.1em;
}

#admin-analytics-chart-filters-inside-container {
  display: flex;
  background: #1a1a1b;
  flex-direction: column;
  color: #f3f3f3;
  font-size: 1.4em;
  font-weight: bold;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 0.8em 1em;
  border-radius: 1em;
  width: 100%;
  max-width: 50em;
}

#admin-filter-button {
  align-self: center;
}

#admin-chart-container {
  margin-top: 1em;
  background-color: #2c3134;
  height: 20em;
  border-radius: 1em;
  width: 100%;
}

#input-poll-choices {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 11em;
}

.rating-vote {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: #2c3134;
  width: 100%;
  max-width: 20em;
  padding: 0.8em;
  border-radius: 1em;
  gap: 1em;
}

.rating-vote-results {
  display: flex;
  justify-content: center;
  flex-flow: column;
  gap: 1em;
}

.rating-vote-results-inside-container {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: #2c3134;
  width: 100%;
  max-width: 20em;
  padding: 0.8em;
  border-radius: 1em;
  gap: 1em;
}

.approval-vote-container {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #2c3134;
  padding: 0.8em;
  border-radius: 1em;
  gap: 1em;
  margin-top: 1em;
  width: 100%;
  max-width: 20em;
}

.approval-choices-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.7em;
}

.rating-choices,
.rating-choices-results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.choice-name {
  font-size: 1.3em;
  width: 100%;
  color: #f3f3f3;
  text-align: center;
  margin-bottom: 0.4em;
  font-weight: bold;
}

.approval-choice {
  font-size: 1.3em;
  color: #f3f3f3;
  text-align: center;
  font-weight: bold;
  background: #1a1a1b;
  align-self: center;
  border-radius: 1em;
  padding: 0.4em;
  border: 0.1em solid #1a1a1b;
  cursor: pointer;
}

.half-star-container,
.half-star-container-results {
  display: flex;
  width: 1.1em;
  justify-content: flex-start;
  align-items: center;
  pointer-events: auto;
  color: #f3f3f3;
}

.fa-star-half {
  display: inline-block;
  pointer-events: none;
  font-size: 2em;
}

.approval-vote-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 1em;
}

#general-info-table-outside-container,
#total-active-posts-outside-container,
#total-active-posts-per-category-outside-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 1em;
  margin-top: 2em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

#general-info-table-inside-container,
#total-active-posts-inside-container-charts,
#total-active-posts-per-category-inside-container-charts {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  max-width: 30em;
  border-radius: 1em;
  gap: 1em;
  padding: 0.8em;
  background: #2c3134;
}

.approval-vote-results-inside-container {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  max-width: 35em;
  padding: 0.8em;
  border-radius: 1em;
  gap: 1em;
  background: #2c3134;
  padding-right: 1em;
}

.ranking-results-table,
#general-info-table {
  table-layout: fixed;
  word-wrap: break-word;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  max-width: 20em;
  background-color: #2c3134;
  color: #f3f3f3;
}

.ranking-results-table {
  max-width: 35em;
}

#general-info-table {
  font-size: 1.5em;
}

.ranking-results-table td,
.ranking-results-table th,
#general-info-table td,
#general-info-table th {
  border: 1px solid #ddd;
  padding: 0.3em;
  background: #222;
}

.ranking-results-table th {
  font-size: 0.578em;
  padding: 0.1em;
}

#general-info-table td {
  width: 3em;
  background: #222;
}

.ranking-results-table th,
#general-info-table th {
  background-color: #00ffd0;
  color: #000;
}

#post-locations-container-header,
#event-map-container-header {
  cursor: move;
  color: #f3f3f3;
  background: #5e5e5e;
  border-radius: 1em;
  font-size: 2em;
  padding: 0.2em;
}

.post-options-container {
  margin-right: auto;
  font-size: 2em;
  margin-left: 0.2em;
  cursor: pointer;
}

.post-download-data {
  cursor: pointer;
  border: 0.1em solid #858585;
  border-bottom: 0;
  border-radius: 0.5em 0.5em 0 0; /* top-left | top-right | bottom-right | bottom-left */
  padding: 0.4em;
}

.post-event-location {
  cursor: pointer;
  border: 0.1em solid #858585;
  border-bottom: 0;
  padding: 0.4em;
}

.post-delete {
  cursor: pointer;
  border: 0.1em solid #858585;
  border-radius: 0 0 0.5em 0.5em;
  padding: 0.4em;
}

.post-options-inside-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  font-size: 0.6em;
  background: #2c3134;
  border-radius: 0.5em;
  margin-left: -3.5em;
  color: #f3f3f3;
}

.post-download-data:hover,
.post-event-location:hover,
.post-delete:hover {
  background: #707070;
}

.parent_of_check_yes_no_container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.parent_of_check_yes_no:hover + .parent_of_check_yes_no_details {
  display: block;
  position: absolute;
  background-color: #1a1a1b;
  font-size: 0.9em;
  margin-bottom: 2em;
  border-radius: 1em;
  color: #f3f3f3;
  padding: 0.5em;
  margin-right: 0.21em;
  margin-left: 0.21em;
  border: 0.01em solid #363636;
  text-align: center;
}

#about-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
  height: fit-content;
  max-width: 70em;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1.4em;
  align-items: center;
  background: #1a1a1b;
  border-radius: 1em;
  color: #f3f3f3;
  text-align: left;
}

#about-inside-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  color: #f3f3f3;
  text-align: left;
}

.results-poll-name {
  color: #f3f3f3;
  font-size: 1.3em;
  border-radius: 1em;
  background: #1a1a1b;
  padding: 0.4em;
  text-align: center;
}

.download-results-image,
.download-results-pdf {
  background: #00ffd0;
  border-radius: 1em;
  padding: 0.4em;
  color: black;
  align-self: center;
  max-width: 5em;
}

.download-results {
  display: flex;
  justify-content: center;
  gap: 1em;
}

#yes-no:hover + .yes_no_details,
#rating:hover + .rating_details,
#approval:hover + .approval_details,
#ranking:hover + .ranking_details {
  display: flex;
  position: absolute;
  background-color: #1a1a1b;
  font-size: 1em;
  border-radius: 1em;
  top: 10em;
  color: #f3f3f3;
  padding: 0.5em;
  margin-right: 0.21em;
  margin-left: 0.21em;
  border: 0.01em solid #363636;
  text-align: center;
}

#category-clear {
  color: #f3f3f3;
}

#total-active-posts-inside-container-buttons,
#total-active-posts-per-category-inside-container-buttons {
  display: flex;
  gap: 0.8em;
}

#total-posts-button,
#active-posts-button,
#total-posts-per-category-button,
#active-posts-per-category-button {
  background: #007e7e;
  border-radius: 0.5em;
  padding: 0.4em;
  color: black;
  align-self: center;
  max-width: 7em;
  font-weight: bold;
  font-size: 1.3em;
}

#dropdown-description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.27em;
  margin-top: 1em;
}

#dropdown-button {
  color: #cc0000;
}

#app-title-container {
  display: flex;
  margin-top: 2em;
  gap: 0.75em;
  justify-content: center;
  flex-wrap: wrap;
}

#app-title-text,
.total-votes-text,
.yes-no-total-votes-text,
.rating-total-votes-text,
.approval-total-votes-text,
.ranking-total-votes-text {
  background-color: #1a1a1b;
  padding: 0.4em;
  border-radius: 1em;
  color: #f3f3f3;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.approval-total-votes-text {
  margin-top: 0.5em;
}

.total-votes-text,
.yes-no-total-votes-text,
.rating-total-votes-text,
.approval-total-votes-text,
.ranking-total-votes-text {
  font-size: 1em;
}

.total-votes-text {
  background-color: #2c3134;
}

.yes-no-total-votes-container,
.rating-total-votes-container,
.approval-total-votes-container,
.ranking-total-votes-container {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

.total-votes-container {
  display: flex;
  justify-content: center;
  font-size: 1em;
  align-self: center;
  margin-top: 0.5em;
  margin-right: 1.8em;
}

#close-preferred-categories-container {
  font-size: 2em;
  margin-left: auto;
  color: #cc0000;
}

.ranking-vote-container {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c3134;
  padding: 0.8em;
  border-radius: 1em;
  gap: 1em;
  margin-top: 1em;
  width: 100%;
  max-width: 20em;
  flex-direction: column;
}

.ranking-choices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.7em;
}

.ranking-choice-name {
  font-size: 0.9em;
  color: #f3f3f3;
  text-align: center;
  font-weight: bold;
}

.choice-rank {
  color: #f3f3f3;
  font-size: 1em;
  text-align: center;
  background: #1a1a1b;
  border-radius: 0.3em;
  max-width: 7.5em;
  background: #2c3134;
  overflow-x: auto;
}

.ranking-vote-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 1em;
}

.ranking-vote-results-inside-container {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  max-width: 35em;
  padding: 0.8em;
  border-radius: 1em;
  gap: 1em;
  background: #2c3134;
}

#language {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c9c9c9;
  padding: 0.4em;
  flex-flow: column;
  gap: 1em;
  border-bottom: 0.0625em solid black;
}

#en,
#el {
  cursor: pointer;
  background-color: #007e7e;
  border-radius: 1em;
  font-weight: bold;
  color: #000000;
  font-size: 1em;
  padding: 0.4em;
}
