* {
  text-decoration: none;
  font-family: Raleway, sans-serif;
}

a {
  color: #b5b5b5;
}
a:visited {
  color: inherit;
}

body {
  background-color: #030303;
  color: #b5b5b5;
  overflow-x: hidden;
}

#content {
  visibility: hidden;
}

button,
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/*Loading Animation for page load*/
#loader {
  width: 15.625em;
  height: 3.125em;
  line-height: 3.125em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #cc0000;
  letter-spacing: 0.2em;
}

#loader::before,
#loader::after {
  content: "";
  display: block;
  width: 0.9375em;
  height: 0.9375em;
  background: #cc0000;
  position: absolute;
  animation: load 0.7s infinite alternate ease-in-out;
}

#loader::before {
  top: 0;
}
#loader::after {
  bottom: 0;
}

h2,
h3 {
  color: #c00;
}

.img_pos {
  text-align: center;
}

.Sign-up:link,
.Sign-up:visited {
  color: #c00;
}

.Sign-up:hover {
  color: #f00;
}

input {
  outline: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2c3134;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
}

.sidenav a {
  padding: 0.5em 0.5em 0.5em 2em;
  text-decoration: none;
  font-size: 1.5625em;
  color: #000;
  display: block;
  transition: 0.3s;
  margin-top: 1em;
  box-sizing: border-box;
  border-bottom: 0.0625em solid black;
}

.nav-element:hover {
  padding-left: 3.125em;
  cursor: pointer;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  cursor: pointer;
  position: absolute;
  top: 0.12em;
  right: 0.5em;
  font-size: 2.25em;
  margin-left: 3.125em;
}

.user-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #2c3134;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
}

.user-nav a {
  padding: 0.5em 0.5em 0.5em 2em;
  text-decoration: none;
  font-size: 1.5625em;
  color: #000;
  display: block;
  transition: 0.3s;
  margin-top: 1em;
  box-sizing: border-box;
  border-bottom: 0.0625em solid black;
}

.user-nav a:hover {
  color: #f1f1f1;
}

.user-nav .closeuserbtn {
  cursor: pointer;
  position: absolute;
  top: 0.12em;
  left: 0.5em;
  font-size: 2.25em;
  margin-right: 3.125em;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

#sidenav-icon {
  font-size: 1.875em;
  cursor: pointer;
  align-self: flex-start;
}

#add-post-icon,
#profile-icon {
  cursor: pointer;
  align-self: center;
}

#all-filters,
#all-analytics {
  display: flex;
  margin-top: 9em;
  gap: 0.75em;
  justify-content: center;
  flex-wrap: wrap;
}

#hot,
#recent,
#preferred-categories,
#filter,
#search,
#map-analytics,
#chart-analytics {
  background-color: #1a1a1b;
  padding: 0.4em;
  border-radius: 1em;
  color: #f3f3f3;
  font-size: 1.875em;
  font-weight: bold;
  cursor: pointer;
}

.sidenav a i,
#hot i,
#recent i,
#preferred-categories i,
#filter i,
#search i,
.user-nav a i,
#map-analytics i,
#chart-analytics i,
.category i {
  margin-right: 0.5em;
}

.fa-circle-user,
.fa-lock,
.fa-envelope,
.fa-house,
.fa-times,
.fa-arrow-right-from-bracket,
.fa-chart-simple {
  background: -webkit-linear-gradient(200deg, #cc0000, #000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-bars,
.fa-plus {
  color: #2c3134;
}

.input-icons {
  position: relative;
}

.input-icons i {
  position: absolute;
  top: 1.1em;
  left: 0.125em;
}

#user-help,
#pass-help,
#password-help,
#email-help,
#passc-help {
  margin-top: 0.11em;
  color: #cc0000;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  width: 30em;
  height: fit-content;
  max-width: 98%;
  padding-top: 1.3em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background-color: #1a1a1b;
  color: black;
  animation-name: zoom;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: 0.7s;
  box-shadow: 0em 0em 0.5em 0.3125em #cc0000;
}

#reg-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5em;
  width: 30em;
  height: fit-content;
  max-width: 98%;
  padding-top: 1.3em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background-color: #1a1a1b;
  color: black;
  animation-name: zoom;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: 0.7s;
  box-shadow: 0em 0em 0.5em 0.3125em #cc0000;
}

.form-control {
  height: 1.85em;
  padding-top: 1.15em;
  border: none;
  border-bottom: 0.2em solid #cc0000;
  border-image: linear-gradient(to right, #000, #cc0000) 1;
  background-color: #1a1a1b;
  font-weight: 900;
  width: 14.7em;
  font-size: 1.5em;
  color: #f3f3f3;
}

.logged-form-control {
  height: 2.5em;
  padding-top: 1.15em;
  border: none;
  border-bottom: 0.2em solid #cc0000;
  border-image: linear-gradient(to right, #000, #cc0000) 1;
  background-color: #1a1a1b;
  font-weight: 900;
  width: 13.1em;
  font-size: 1.2em;
  color: #f3f3f3;
}

input.form-control,
input.logged-form-control {
  text-align: center;
}

#username-change-form,
#password-change-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  width: 25em;
  height: fit-content;
  max-width: 98%;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background-color: #1a1a1b;
  color: black;
  box-shadow: 0em 0em 0.5em 0.3125em #cc0000;
}

#sum,
#username-change,
#password-change {
  height: 3em;
  width: 8em;
  font-size: 1.5em;
  margin-top: 0.75em;
  background-image: linear-gradient(to right, #000, #c00);
  border: 0em solid #74797d;
  color: #ccc;
  border-radius: 0.5em;
  font-weight: 900;
  cursor: pointer;
}

#sum.animated,
#username-change.animated,
#password-change.animated {
  animation-name: logBtnOut;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  transition: color 0.4s;
}

#sum:hover,
#username-change:hover,
#password-change:hover {
  color: #c00;
  animation-name: logBtnIn;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

#next-step {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  background-color: #1a1a1b;
  text-align: center;
  border-radius: 0.5em;
  font-weight: 900;
  color: #cc0000;
  width: 8em;
  height: 3em;
  font-size: 1.3em;
}

.label-color {
  color: #ccc;
}

@keyframes load {
  0% {
    left: 0;
    height: 1.875em;
    width: 0.9375em;
  }
  50% {
    height: 0.5em;
    width: 2.5em;
  }
  100% {
    left: 14.6875em;
    height: 1.875em;
    width: 0.9375em;
  }
}

@keyframes logBtnIn {
  0% {
    background-image: linear-gradient(to right, #000, #c00);
  }
  5% {
    background-image: linear-gradient(to right, #000 5%, #c00);
  }
  10% {
    background-image: linear-gradient(to right, #000 10%, #c00);
  }
  15% {
    background-image: linear-gradient(to right, #000 15%, #c00);
  }
  20% {
    background-image: linear-gradient(to right, #000 20%, #c00);
  }
  25% {
    background-image: linear-gradient(to right, #000 25%, #c00);
  }
  30% {
    background-image: linear-gradient(to right, #000 30%, #c00);
  }
  35% {
    background-image: linear-gradient(to right, #000 35%, #c00);
  }
  40% {
    background-image: linear-gradient(to right, #000 40%, #c00);
  }
  45% {
    background-image: linear-gradient(to right, #000 45%, #c00);
  }
  50% {
    background-image: linear-gradient(to right, #000 50%, #c00);
  }
  55% {
    background-image: linear-gradient(to right, #000 55%, #c00);
  }
  60% {
    background-image: linear-gradient(to right, #000 60%, #c00);
  }
  65% {
    background-image: linear-gradient(to right, #000 65%, #c00);
  }
  70% {
    background-image: linear-gradient(to right, #000 70%, #c00);
  }
  75% {
    background-image: linear-gradient(to right, #000 75%, #c00);
  }
  80% {
    background-image: linear-gradient(to right, #000 80%, #c00);
  }
  85% {
    background-image: linear-gradient(to right, #000 85%, #c00);
  }
  90% {
    background-image: linear-gradient(to right, #000 90%, #c00);
  }
  95% {
    background-image: linear-gradient(to right, #000 95%, #c00);
  }
  100% {
    background-image: linear-gradient(to right, #000, #000);
  }
}

@keyframes logBtnOut {
  0% {
    background-image: linear-gradient(to right, #000, #000);
  }
  10% {
    background-image: linear-gradient(to right, #000 90%, #c00);
  }
  20% {
    background-image: linear-gradient(to right, #000 80%, #c00);
  }
  30% {
    background-image: linear-gradient(to right, #000 70%, #c00);
  }
  40% {
    background-image: linear-gradient(to right, #000 60%, #c00);
  }
  50% {
    background-image: linear-gradient(to right, #000 50%, #c00);
  }
  60% {
    background-image: linear-gradient(to right, #000 40%, #c00);
  }
  70% {
    background-image: linear-gradient(to right, #000 30%, #c00);
  }
  80% {
    background-image: linear-gradient(to right, #000 20%, #c00);
  }
  90% {
    background-image: linear-gradient(to right, #000 10%, #c00);
  }
  100% {
    background-image: linear-gradient(to right, #000, #c00);
  }
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.1em;
}
::-webkit-scrollbar-track {
  background-color: #030303;
}
::-webkit-scrollbar-track-piece {
  background-color: #030303;
}
::-webkit-scrollbar-thumb {
  height: 3.125em;
  background-color: #1a1a1b;
  border-radius: 1em;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}

/*Placeholder color*/
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cccccc;
  opacity: 1; /* Firefox */
  text-align: center;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cccccc;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cccccc;
}

/*Makes placeholder transparent when user clicks to type values*/
input:focus::placeholder {
  color: transparent;
}

/*For other resolutions*/
@media (min-width: 576px) {
  :root {
    --size-divisor: 2;
  }
}
@media (min-width: 768px) {
  :root {
    --size-divisor: 1.5;
  }
}
@media (min-width: 992px) {
  :root {
    --size-divisor: 1;
  }
}
@media (min-width: 1200px) {
  :root {
    --size-divisor: 0.67;
  }
}

/*remove blue highlight*/
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus,
a:visited,
a:active {
  outline: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}

#poll-selection {
  display: none;
  margin-top: 11em;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.template-instructions-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

#first-quetion,
.time-limit,
.location-restriction,
#event-radius {
  max-width: 27em;
  color: #f3f3f3;
  font-size: 1.875em;
  font-weight: bold;
  text-align: center;
  background-color: #1a1a1b;
  border-radius: 1em;
  padding: 0.4em;
}

#poll-template-time-choice,
#poll-template-location-restriction {
  display: flex;
  margin-top: 11em;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

#time-limit-selector,
#radius-number {
  background: #1a1a1b;
  border-radius: 1em;
  color: white;
  text-align: center;
  font-size: 2em;
  width: 9.5em;
}

#yes-time-limit,
#no-time-limit,
#yes-location-restriction,
#no-location-restriction {
  background-color: #1a1a1b;
  padding: 0.3em;
  border-radius: 1em;
  font-size: 1.875em;
  font-weight: bold;
  cursor: pointer;
  border: 0.1em solid #1a1a1b;
  width: 3em;
  color: #f3f3f3;
}

#time-choice {
  display: flex;
  margin-top: 11em;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

#yes-no,
#rating,
#approval,
#ranking {
  background-color: #1a1a1b;
  padding: 0.3em;
  border-radius: 1em;
  color: #f3f3f3;
  font-size: 1.875em;
  font-weight: bold;
  cursor: pointer;
  border: 0.1em solid #1a1a1b;
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade_out_show {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

#poll-question {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 11em;
}

#question-instruction {
  padding: 0.4em;
  color: #f3f3f3;
  font-size: 1.875em;
  font-weight: bold;
  background: #1a1a1b;
  border-radius: 1em;
}

#question {
  width: 27em;
  padding-bottom: 5em;
  color: #f3f3f3;
  font-size: 1.3em;
  font-weight: bold;
  background: #1a1a1b;
  border-radius: 0.7em;
  background-color: #1a1a1b;
  max-width: 98.5%;
  overflow: hidden;
  resize: none;
}

#question:focus {
  outline: none !important;
  border: 0.0625em solid #cc0000;
}

#warning-nothing-selected,
#warning-empty-text-area,
#warning-no-time-limit-choice,
#warning-no-time-limit,
#warning-no-location-restriction-choice,
#warning-no-location-selected,
#warning-radius-too-small,
#warning-no-category-selected {
  display: none;
  padding: 0.4em;
  color: #ab0000;
  font-size: 1.5em;
  font-weight: bold;
  flex-basis: 100%;
  text-align: center;
}

#posts-container {
  display: flex;
  flex-flow: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  max-width: 50em;
  margin: 2em auto 0;
  padding: 1em;
}

.post {
  display: flex;
  background-color: #1a1a1b;
  justify-content: space-between;
  height: fit-content;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 1em;
  padding: 1em 1em 1em 1em;
  width: 100%;
  flex-direction: column;
}

.post-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 0.8em;
}

.post-critic {
  display: flex;
  align-items: flex-end;
  column-gap: 0.5em;
}

.score {
  width: 2.5em;
  text-align: center;
}

.user-who-posted {
  display: flex;
  margin-bottom: 0.8em;
  font-size: 0.6em;
  align-items: center;
  flex-wrap: wrap;
}

.user-question-answers {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5em;
  word-break: break-word;
}

.post-user-name {
  margin-right: 0.25em;
}

.post-user-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.poll-timer-container {
  display: none;
  flex-direction: column-reverse;
  align-items: center;
}

.post-time {
  cursor: pointer;
}

.post-time-detailed,
.poll-remaining-time {
  display: none;
}

.post-time:hover + .post-time-detailed {
  display: block;
  position: absolute;
  margin-bottom: 2em;
  background-color: #000000;
  border-radius: 1em;
  color: #f3f3f3;
  padding: 0.5em;
  margin-right: 0.21em;
  margin-left: 0.21em;
}

.fa-clock:hover + .poll-remaining-time {
  display: block;
  position: absolute;
  margin-bottom: 2.5em;
  background-color: #000000;
  border-radius: 1em;
  color: #f3f3f3;
  padding: 0.5em;
  margin-right: 0.21em;
}

.fa-bookmark {
  font-size: 2em;
  cursor: pointer;
}

.fa-clock {
  display: none;
  font-size: 2em;
  cursor: pointer;
}
.post-question {
  height: fit-content;
  width: fit-content;
  flex-basis: 100%;
  color: #f3f3f3;
  margin-bottom: 0.1em;
}

.answer-yes,
.answer-no {
  background-color: #007e7e;
  padding: 0.4em;
  border-radius: 1em;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  width: 3em;
  text-align: center;
  margin-top: 0.5em;
}

.show-graph {
  background-color: #00a1ff80;
  padding: 0.4em;
  border-radius: 1em;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  margin-top: 0.5em;
  margin-right: 1.8em;
}

.fa-chevron-up,
.fa-chevron-down {
  cursor: pointer;
}

.fa-circle-chevron-right {
  color: #1a1a1b;
  cursor: pointer;
}

.chartCard {
  margin-top: 1em;
  background-color: #2c3134;
  height: 20em;
  border-radius: 1em;
}

#notification-container {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 0.2em;
  margin: 0 auto;
  max-width: 30em;
  left: 0;
  right: 0;
  top: 35%;
}

#notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: #2c3134;
  padding: 1em;
  border-radius: 1.2em;
  color: #f3f3f3;
  gap: 2em;
  box-shadow: inset 0 0 0.5em 0.1em rgb(0 0 0);
}

#notification-text {
  color: #f3f3f3;
  font-size: 1.875em;
  font-weight: bold;
  text-align: center;
  background: #1a1a1b;
  border-radius: 1em;
  padding: 0.4em;
}

#notification-button {
  background-color: #000;
  border-radius: 0.5em;
  font-weight: bold;
  color: #cc0000;
  font-size: 1.875em;
  padding: 0.5em 1em;
}

#preferred-categories-container {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 0.2em;
  margin: 0 auto;
  max-width: 30em;
  left: 0;
  right: 0;
  top: 10em;
}

#categories-container {
  display: flex;
  background: #2c3134;
  color: #000;
  font-size: 1.875em;
  font-weight: bold;
  text-align: center;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1em;
  border-radius: 0.4em;
  box-shadow: inset 0 0 0.5em 0.1em rgb(0 0 0);
}

.category {
  background: #1a1a1b;
  border-radius: 1em;
  cursor: pointer;
  padding: 0.4em;
  color: #f3f3f3;
}

#category-button {
  background-color: #000;
  border-radius: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
  color: #cc0000;
  padding: 0.5em 1.2em;
}

#location-choice {
  display: flex;
  margin-top: 11em;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

#event-location-map,
#location-responses-map {
  width: 70em;
  height: 40em;
  border-radius: 1em;
}

#radius-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

#analytics-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

#post-category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto 0;
  margin-top: 11em;
}

#categories {
  color: #f3f3f3;
  font-size: 2.51em;
  text-align: center;
  background: #1a1a1b;
  border-radius: 1em;
}

#search-box-container {
  display: flex;
  max-width: 50em;
  justify-content: center;
  margin: 1em auto 0;
  width: 100%;
  gap: 0.5em;
  align-items: center;
}

#search-box {
  width: 50em;
  color: #f3f3f3;
  font-size: 1.3em;
  font-weight: bold;
  background: #1a1a1b;
  border-radius: 1em;
  background-color: #1a1a1b;
  max-width: 98.5%;
  overflow: hidden;
  resize: none;
  padding: 0.2em;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
